<ion-view title="Assess Page" id="page3">
    <ion-content padding="true" class="has-header">
        <h1 id="assessPage-heading3" style="color:#000000;text-align:center;">Basketball 3 x 3</h1>
        <form class="list">
            <label class="item item-select" name="TeamList">
                <span class="input-label">Team</span>
                <select>
                    <option>1K T1</option>
                    <option>1K Team 2</option>
                </select>
            </label>
            <label class="item item-select" name="StudentList">
                <span class="input-label">Student</span>
                <select>
                    <option>Student 1</option>
                    <option>Student 2</option>
                </select>
            </label>
        </form>
        <div class="button-bar">
            <button id="assessPage-button14" class="button button-positive  button-block icon-left ion-android-add-circle">Offensive</button>
            <button id="assessPage-button15" class="button button-stable  button-block icon-left ion-android-radio-button-off">Defensive</button>
        </div>
        <div class="button-bar"></div>
        <div class="list card">
            <div class="item item-divider">Level 4</div>
            <div class="item item-body">
                <div class="button-bar">
                    <button id="assessPage-button25" style="border-radius:90px 90px 90px 90px;" class="button button-light  button-block icon-left ion-disc">1 L4</button>
                    <button id="assessPage-button57" style="border-radius:90px 90px 90px 90px;" class="button button-energized  button-block button-clear icon-left ion-disc">2 L4</button>
                    <button id="assessPage-button58" style="border-radius:90px 90px 90px 90px;" class="button button-balanced  button-block button-clear icon-left ion-disc">3 L4</button>
                    <button id="assessPage-button59" style="border-radius:90px 90px 90px 90px;" class="button button-calm  button-block button-clear icon-left ion-disc">4 L4</button>
                    <button id="assessPage-button60" style="border-radius:90px 90px 90px 90px;" class="button button-positive  button-block button-clear icon-left ion-disc">5 L4</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Level 3</div>
            <div class="item item-body">
                <div class="button-bar">
                    <button id="assessPage-button37" style="border-radius:90px 90px 90px 90px;" class="button button-light  button-block icon-left ion-android-add-circle">1 L3</button>
                    <button id="assessPage-button61" style="border-radius:90px 90px 90px 90px;" class="button button-energized  button-block button-clear icon-left ion-android-add-circle">2 L3</button>
                    <button id="assessPage-button62" style="border-radius:90px 90px 90px 90px;" class="button button-balanced  button-block button-clear icon-left ion-android-add-circle">3 L3</button>
                    <button id="assessPage-button63" style="border-radius:90px 90px 90px 90px;" class="button button-calm  button-block button-clear icon-left ion-android-add-circle">4 L3</button>
                    <button id="assessPage-button64" style="border-radius:90px 90px 90px 90px;" class="button button-positive  button-block button-clear icon-left ion-android-add-circle">5 L3</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Level 2</div>
            <div class="item item-body">
                <div class="button-bar">
                    <button id="assessPage-button43" style="border-radius:90px 90px 90px 90px;" class="button button-light  button-block icon-left ion-android-radio-button-on">1 L2</button>
                    <button id="assessPage-button55" style="border-radius:90px 90px 90px 90px;" class="button button-energized  button-block button-clear icon-left ion-android-radio-button-on">2 L2</button>
                    <button id="assessPage-button65" style="border-radius:90px 90px 90px 90px;" class="button button-balanced  button-block button-clear icon-left ion-android-radio-button-on">3 L2</button>
                    <button id="assessPage-button52" style="border-radius:90px 90px 90px 90px;" class="button button-calm  button-block button-clear icon-left ion-android-radio-button-on">4 L2</button>
                    <button id="assessPage-button54" style="border-radius:90px 90px 90px 90px;" class="button button-positive  button-block button-clear icon-left ion-android-radio-button-on">5 L2</button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Level 1</div>
            <div class="item item-body">
                <div class="button-bar">
                    <button id="assessPage-button47" style="border-radius:90px 90px 90px 90px;" class="button button-light  button-block icon-left ion-android-radio-button-off">1 L1</button>
                    <button id="assessPage-button66" style="border-radius:90px 90px 90px 90px;" class="button button-energized  button-block button-clear icon-left ion-android-radio-button-off">2 L1</button>
                    <button id="assessPage-button67" style="border-radius:90px 90px 90px 90px;" class="button button-balanced  button-block button-clear icon-left ion-android-radio-button-off">3 L1</button>
                    <button id="assessPage-button68" style="border-radius:90px 90px 90px 90px;" class="button button-calm  button-block button-clear icon-left ion-android-radio-button-off">4 L1</button>
                    <button id="assessPage-button69" style="border-radius:90px 90px 90px 90px;" class="button button-positive  button-block button-clear icon-left ion-android-radio-button-off">5 L1</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>