<ion-view title="Sports" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/L2bO4kBhT4mnXRVvs5xP_robotics.png">
                <h2>Student 4</h2>
                <p>Class 1K</p>
            </ion-item>
        </ion-list>
        <div class="button-bar">
            <a ui-sref="tabsController.student" id="sports-button8" class="button button-light  button-block icon-left ion-android-clipboard">Class</a>
            <button id="sports-button9" class="button button-positive  button-block icon-left ion-social-dribbble">Sports</button>
            <a ui-sref="tabsController.team" id="sports-button10" class="button button-stable  button-block icon-left ion-android-contacts">Team</a>
        </div>
        <ion-list>
            <label class="item item-select" name="SportsList">
                <span class="input-label">Sports List</span>
                <select>
                    <option>Basketball 3 x 3</option>
                    <option>Football 5 x 5</option>
                    <option>Softball 6 x 6</option>
                    <option>Badminton 2 x 2</option>
                </select>
            </label>
        </ion-list>
    </ion-content>
</ion-view>