<ion-view title="Student" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/L2bO4kBhT4mnXRVvs5xP_robotics.png">
                <h2>Student 4</h2>
                <p>Class 1K</p>
            </ion-item>
        </ion-list>
        <div class="button-bar">
            <button id="student-button4" class="button button-positive  button-block icon-left ion-android-clipboard">Class</button>
            <a ui-sref="tabsController.sports" id="student-button5" class="button button-stable  button-block icon-left ion-social-dribbble">Sports</a>
            <a ui-sref="tabsController.team" id="student-button7" class="button button-stable  button-block icon-left ion-android-contacts">Team</a>
        </div>
        <ion-list>
            <label class="item item-select" name="ClassList">
                <span class="input-label">Class List</span>
                <select>
                    <option>1K</option>
                    <option>1A</option>
                    <option>1B</option>
                    <option>others</option>
                </select>
            </label>
        </ion-list>
    </ion-content>
</ion-view>