<ion-view title="Team" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/L2bO4kBhT4mnXRVvs5xP_robotics.png">
                <h2>Student 4</h2>
                <p>Class 1K</p>
            </ion-item>
        </ion-list>
        <div class="button-bar">
            <a ui-sref="tabsController.student" id="team-button11" class="button button-light  button-block icon-left ion-android-clipboard">Class</a>
            <a ui-sref="tabsController.sports" id="team-button12" class="button button-light  button-block icon-left ion-social-dribbble">Sports</a>
            <button id="team-button13" class="button button-positive  button-block icon-left ion-android-contacts">Team</button>
        </div>
        <ion-list>
            <label class="item item-select" name="TeamList">
                <span class="input-label">Team List</span>
                <select>
                    <option>1K Team 1</option>
                    <option>1K T2</option>
                    <option>1K Team Temp</option>
                    <option>others</option>
                </select>
            </label>
        </ion-list>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Delete</ion-toggle>
            <label class="item item-input" name="Class 1K T1">
                <span class="input-label">Description</span>
                <input type="text" placeholder="1K T1">
            </label>
        </form>
        <button id="team-button70" style="border-radius:80px 80px 80px 80px;" class="button button-positive  button-block">Update</button>
    </ion-content>
</ion-view>